absl-py==2.1.0
aiobotocore
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
alabaster
altair
annotated-types
anyio
appdirs==1.4.4
archspec
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
astropy-iers-data
asttokens
astunparse==1.6.3
async-lru
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
bokeh
boltons
botocore
Bottleneck
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
colorcet
comm
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
cytoolz
dask
dask-expr
datashader
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
distro
docstring-to-markdown
docutils
et-xmlfile
executing
fastjsonschema
filelock
flake8
Flask
Flask-Cors
flatbuffers==24.3.25
fonttools
frozendict
frozenlist
fsspec
gast==0.6.0
gensim
gitdb
GitPython
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.169.0
google-auth==2.40.1
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
google-pasta==0.2.0
googleapis-common-protos==1.70.0
greenlet
grpcio==1.71.0
grpcio-status==1.71.0
h11
h5py
HeapDict
holoviews
httpcore
httplib2==0.22.0
httpx
huggingface-hub==0.31.1
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras==3.6.0
keyring
kiwisolver
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
libclang==18.1.1

linkify-it-py
llvmlite
lmdb
locket
lxml==5.2.1
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
mccabe
mdit-py-plugins
mdurl

mistune
mkl_fft
mkl_random
ml-dtypes==0.4.1
more-itertools
mpmath
msgpack
multidict
multipledispatch
mypy
mypy-extensions
namex==0.0.8
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy==1.26.4
numpydoc
openai==1.76.2
openpyxl
opt_einsum==3.4.0
optree==0.13.0
overrides
packaging
pandas==2.2.2
pandocfilters
panel
param
paramiko
parsel

pdfminer.six==20231228
pdfplumber==0.11.5
pillow
proto-plus==1.26.1
protobuf==5.29.4

psutil
py-cpuinfo
pyarrow
pyasn1-modules==0.2.8
pydantic
pydantic_core
PyJWT
python-dateutil
python-dotenv
python-slugify
pytz
PyMuPDF==1.25.5
pyOpenSSL
pyparsing
pypdfium2==4.30.1
PySocks
requests
requests-toolbelt
rich
rsa==4.9.1
scikit-image
scikit-learn
scipy
seaborn
setuptools>=65.0.0
six
smart-open
SpeechRecognition==3.14.2
SQLAlchemy
statsmodels
sympy
tables
tabulate
tenacity
tensorboard==2.10.0
tensorflow-intel==2.12.0
termcolor==2.5.0
threadpoolctl
tokenizers==0.21.1
tqdm
transformers==4.51.3
typing_extensions
tzdata
ujson
urllib3
Werkzeug
wheel>=0.40.0
xarray
xlwings
yapf
zipp
zope.interface
